<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>xCoordinate</key>
		<integer>30</integer>
		<key>yCoordinate</key>
		<integer>30</integer>
		<key>headDirection</key>
		<string>top</string>
		<key>itemType</key>
		<string>bed</string>
		<key>width</key>
		<integer>165</integer>
		<key>height</key>
		<integer>185</integer>
		<key>bgColor</key>
		<string>#FAD7DA</string>
	</dict>
	<dict>
		<key>xCoordinate</key>
		<integer>215</integer>
		<key>yCoordinate</key>
		<integer>30</integer>
		<key>headDirection</key>
		<string>bottom</string>
		<key>itemType</key>
		<string>bed</string>
		<key>width</key>
		<integer>165</integer>
		<key>height</key>
		<integer>185</integer>
		<key>bgColor</key>
		<string>#FFFFFF</string>
	</dict>
	<dict>
		<key>xCoordinate</key>
		<integer>400</integer>
		<key>yCoordinate</key>
		<integer>30</integer>
		<key>headDirection</key>
		<string>bottom</string>
		<key>itemType</key>
		<string>bed</string>
		<key>width</key>
		<integer>165</integer>
		<key>height</key>
		<integer>185</integer>
		<key>bgColor</key>
		<string>#EDEDED</string>
	</dict>
	<dict>
		<key>xCoordinate</key>
		<integer>685</integer>
		<key>yCoordinate</key>
		<integer>30</integer>
		<key>headDirection</key>
		<string>right</string>
		<key>itemType</key>
		<string>bed</string>
		<key>width</key>
		<integer>185</integer>
		<key>height</key>
		<integer>165</integer>
		<key>bgColor</key>
		<string>#F5F5DB</string>
	</dict>
	<dict>
		<key>xCoordinate</key>
		<integer>30</integer>
		<key>yCoordinate</key>
		<integer>295</integer>
		<key>headDirection</key>
		<string>top</string>
		<key>itemType</key>
		<string>bed</string>
		<key>width</key>
		<integer>165</integer>
		<key>height</key>
		<integer>185</integer>
		<key>bgColor</key>
		<string>#EDEDED</string>
	</dict>
	<dict>
		<key>xCoordinate</key>
		<integer>215</integer>
		<key>yCoordinate</key>
		<integer>295</integer>
		<key>headDirection</key>
		<string>bottom</string>
		<key>itemType</key>
		<string>bed</string>
		<key>width</key>
		<integer>165</integer>
		<key>height</key>
		<integer>185</integer>
		<key>bgColor</key>
		<string>#EDEDED</string>
	</dict>
	<dict>
		<key>xCoordinate</key>
		<integer>400</integer>
		<key>yCoordinate</key>
		<integer>295</integer>
		<key>headDirection</key>
		<string>left</string>
		<key>itemType</key>
		<string>bed</string>
		<key>width</key>
		<integer>185</integer>
		<key>height</key>
		<integer>165</integer>
		<key>bgColor</key>
		<string>#FAD7DA</string>
	</dict>
	<dict>
		<key>xCoordinate</key>
		<integer>605</integer>
		<key>yCoordinate</key>
		<integer>295</integer>
		<key>headDirection</key>
		<string>top</string>
		<key>itemType</key>
		<string>bed</string>
		<key>width</key>
		<integer>165</integer>
		<key>height</key>
		<integer>185</integer>
		<key>bgColor</key>
		<string>#EDEDED</string>
	</dict>
</array>
</plist>
