<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Oral (PO)</string>
	<string>Rectal (PR)</string>
	<string>Intravenous (IV)</string>
	<string>Intramuscular (IM)</string>
	<string>Intrathecal (IT)</string>
</array>
</plist>
