<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>add</key>
		<integer>1</integer>
		<key>dob</key>
		<string>1975-03-06</string>
		<key>consultant</key>
		<string>Mrs A Bishop</string>
		<key>nhs</key>
		<string>1234 567 2345</string>
		<key>patientName</key>
		<string>John Barry (Lord)</string>
		<key>medicationList</key>
		<dict>
			<key>drug</key>
			<string>Amoxylin</string>
			<key>time</key>
			<date>2015-03-03T02:48:31Z</date>
		</dict>
		<key>patientId</key>
		<string>IPRJ2623512</string>
		<key>bedId</key>
		<string>100</string>
		<key>nextMedication</key>
		<integer>1200</integer>
	</dict>
	<dict>
		<key>patientName</key>
		<string>Alexander Joseph (Alen)</string>
		<key>dob</key>
		<string>1985-03-06</string>
		<key>consultant</key>
		<string>Mrs A Bishop</string>
		<key>nhs</key>
		<string>1234 567 2345</string>
		<key>add</key>
		<integer>1</integer>
		<key>medicationList</key>
		<dict>
			<key>drug</key>
			<string>Amoxylin</string>
			<key>time</key>
			<date>2015-03-03T02:48:31Z</date>
		</dict>
		<key>patientId</key>
		<string>IPRJ2623520</string>
		<key>bedId</key>
		<string>101</string>
		<key>nextMedication</key>
		<integer>600</integer>
	</dict>
	<dict>
		<key>patientName</key>
		<string>Martin Abraham (John)</string>
		<key>dob</key>
		<string>1975-03-06</string>
		<key>consultant</key>
		<string>Mrs A Bishop</string>
		<key>nhs</key>
		<string>1234 567 2345</string>
		<key>add</key>
		<integer>0</integer>
		<key>medicationList</key>
		<dict>
			<key>drug</key>
			<string>Amoxylin</string>
			<key>time</key>
			<date>2015-03-03T02:48:31Z</date>
		</dict>
		<key>patientId</key>
		<string>IPRJ2623584</string>
		<key>bedId</key>
		<string>103</string>
		<key>nextMedication</key>
		<integer>2400</integer>
	</dict>
	<dict>
		<key>patientName</key>
		<string>James Albert (Christian)</string>
		<key>dob</key>
		<string>1975-03-06</string>
		<key>consultant</key>
		<string>Mrs A Bishop</string>
		<key>nhs</key>
		<string>1234 567 2345</string>
		<key>add</key>
		<integer>1</integer>
		<key>medicationList</key>
		<dict>
			<key>drug</key>
			<string>Amoxylin</string>
			<key>time</key>
			<date>2015-03-03T02:48:31Z</date>
		</dict>
		<key>patientId</key>
		<string>IPRJ2623572</string>
		<key>bedId</key>
		<string>104</string>
		<key>nextMedication</key>
		<integer>2400</integer>
	</dict>
	<dict>
		<key>patientName</key>
		<string>Bryan Tom (Adam)</string>
		<key>dob</key>
		<string>1975-03-06</string>
		<key>consultant</key>
		<string>Mrs A Bishop</string>
		<key>nhs</key>
		<string>1234 567 2345</string>
		<key>add</key>
		<integer>1</integer>
		<key>medicationList</key>
		<dict>
			<key>drug</key>
			<string>Amoxylin</string>
			<key>time</key>
			<date>2015-03-03T02:48:31Z</date>
		</dict>
		<key>patientId</key>
		<string>IPRJ2623601</string>
		<key>bedId</key>
		<string>105</string>
		<key>nextMedication</key>
		<integer>4200</integer>
	</dict>
	<dict>
		<key>patientName</key>
		<string>Daniel John (Jacob)</string>
		<key>dob</key>
		<string>1975-03-06</string>
		<key>consultant</key>
		<string>Mrs A Bishop</string>
		<key>nhs</key>
		<string>1234 567 2345</string>
		<key>add</key>
		<integer>1</integer>
		<key>medicationList</key>
		<dict>
			<key>drug</key>
			<string>Amoxylin</string>
			<key>time</key>
			<date>2015-03-03T02:48:31Z</date>
		</dict>
		<key>patientId</key>
		<string>IPRJ2623612</string>
		<key>bedId</key>
		<string>105</string>
		<key>nextMedication</key>
		<integer>6000</integer>
	</dict>
	<dict>
		<key>medicationList </key>
		<dict>
			<key>drug</key>
			<string>Amoxylin</string>
			<key>time</key>
			<date>2015-03-03T02:48:31Z</date>
		</dict>
		<key>add</key>
		<integer>1</integer>
		<key>nhs</key>
		<string>1234 567 2345</string>
		<key>dob</key>
		<string>1975-03-06</string>
		<key>consultant</key>
		<string>Mrs A Bishop</string>
		<key>patientName</key>
		<string>Kristopher Alex (Joseph)</string>
		<key>patientId</key>
		<string>IPRJ2623623</string>
		<key>bedId</key>
		<string>106</string>
		<key>nextMedication</key>
		<integer>6600</integer>
	</dict>
	<dict>
		<key>medicationList</key>
		<dict>
			<key>drug</key>
			<string>Amoxylin</string>
			<key>time</key>
			<date>2015-03-03T02:48:31Z</date>
		</dict>
		<key>patientName</key>
		<string>Jim Carr (Tom)</string>
		<key>add</key>
		<integer>1</integer>
		<key>dob</key>
		<string>1975-03-06</string>
		<key>consultant</key>
		<string>Mrs A Bishop</string>
		<key>nhs</key>
		<string>1234 567 2345</string>
		<key>patientId</key>
		<string>IPRJ2623624</string>
		<key>bedId</key>
		<string>107</string>
		<key>nextMedication</key>
		<integer>5800</integer>
	</dict>
</array>
</plist>
